.comment {
    color: #fff;
    font-family: Lato Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16px;
    margin-bottom: 16px;
}

.comment-container {
    display: flex;
    width: 100%;
}
.comment-content {
    width: 100%;
}
.comment-text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.comment-info {
    display: flex;
    justify-content: space-between;
}
.comment-author-name {
    margin: 11.5px 0 4px 0;
}
.comment-time {
    color: #8297ab;
    font-family: Lato Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12.5px;
}
.comment-author-avatar {
    width: 68px;
    min-width: 68px;
    height: 68px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 20px;
}
.like-button {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 600px) {
    .comment-author-avatar {
        width: 40px;
        min-width: 40px;
        height: 40px;
    }
    .comment {
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: 14px;
    }
    .comment-author-name {
        margin: 0 0 0 0;
    }
    .comment-time {
        font-size: 14px;
        margin-bottom: 9.5px;
    }
    .comment-text {
        max-width: 412px;
    }
}
@media (max-width: 500px) {
    .comment-text {
        max-width: 312px;
    }
}
@media (max-width: 400px) {
    .comment-text {
        max-width: 212px;
    }
}
